<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="/header :: headFragment">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title id="pageTitle">Análisis de política</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/afs/listas.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/filtros/yadcf-consultar-pg.css}">

<body>
	<header th:replace="/home:: header"></header>

	<nav aria-label="breadcrumb">
		<ul class="breadcrumb" id="migas">
			<li class="breadcrumb-item"><em class="fa fa-home">&nbsp;&nbsp;|&nbsp;&nbsp;</em>Instrumentos de planeación</li>
			<li class="breadcrumb-item " aria-current="page">Formulación plan de desarrollo</li>
			<li class="breadcrumb-item active" aria-current="page" id="act">Análisis de política</li>
		</ul>
	</nav>
	<div class="form-container3">
		<div class="abs-center">
			<span>Análisis de política</span><br>
		</div>
		<div class="hr-1"></div>
		<br><br>
		<div class="table-responsive">
			 <form th:action="@{/obtener-politica}" th:object="${pddDTO}" method="POST">
			 <input type="hidden" id="idPlanDesarrollo" name="idPlanDesarrollo">
		     <input type="hidden" id="nombrePlan" name="nombrePlan">
			<table id="dtabla" class="table-striped" style="width: 250%">
				<thead>
					<tr class="color">
						<th style="width: 20%" class="color-head">Programa degobierno <br></th>
						<th style="width: 15%" class="color-head">Alcalde <br></th>
						<th style="width: 5%" class="color-head">Vigencia <br></th>
						<th style="width: 5%" class="color-head">Año Inicio <br></th>
						<th style="width: 5%" class="color-head">Año Fin <br></th>
						<th style="width: 8%" class="color-head">Estado <br></th>
						<th style="width: 7%" class="subir">Análisis de política</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
			</form>
		</div>
	</div>
	<br><br>
	<footer th:replace="/home:: footer"></footer>
</body>
<div th:include="afs/autenticacion/modal-cambiar-contrasena.html"></div>
<script>
$(document).ready(function() {
	cargarDatos();
	
 });
 function cargarDatos() {
	   'use strict';
		var table = $('#dtabla')
		.DataTable({
			"colReorder":true,
			"processing":true,
			"serverSide":true,
			"lengthChange":true,
			"searching": true,
			"ordering":true,
			"info":true,
			"autoWidth":true,
			"lengthMenu":[ [ 5, 10, 25, 50, -1 ],
				[ 5, 10, 25, 50, "Mostrar Todo" ] ],
			"pageLength":5,
			"language":{
				"processing" : 'Cargando...',
				"info" : '<div class="formato">_END_ de _TOTAL_ registros</div>',
				"infoEmpty" : '<div class="formato">0 de 0.</div>',
				"infoFiltered" : "(filtrados de un total de _MAX_ registros)",
				"zeroRecords" : "No se han encontrado coincidencias.",
				"responsive" : true,
				"paginate" : {
					"first" : '<img src="css/img/icono-flecha-doble-izquierda.png" class="flecha-paginador">',
					"last" : '<img src="css/img/icono-flecha-doble-derecha.png" class="flecha-paginador">',
					"next" : '<img src="css/img/icono-flecha-derecha.png" class="flecha-paginador">',
					"previous" : '<img src="css/img/icono-flecha-izquierda.png" class="flecha-paginador">'
				},
				"lengthMenu" : "_MENU_",
			},
			"pagingType": "full_numbers",
			"dom" :"<'row'<'col-sm-5 col-md-7'>>"
				+ "<'row'<'col-sm-8 col-md-7'tr>>"
				+ "<'row'<'col-sm-8 col-md-7'><'col-sm-2 col-md-1'l><'col-sm-1 col-md-1'i><'col-sm-1 col-md-3'p>>",
			"order":[0,'desc'],
			"ajax": {
				"url": "/Segplan/listaProgramaCompromisosByPage",
				"type": "POST"
			},
			"columns" : [
				{
					data: "nombrePlan"
				},
				{
					data: "nombreAlcalde"
				},
				{
					data: "vigencia"
				},
				{
					data: "yearInicio"
				},
				{
					data: "yearFinal"
				},
				{
					data: "estadoPlan"
				},
				{
					"render": function () {
						return '<button type="submit" id="ButtonEditar" class="ver"><span class="hidden-xs">ver</span></button>';
					},"orderable": false
				}
			],
			})
		yadcf.init(table, [{
			column_number : 0,
			filter_type: "text",
			filter_reset_button_text:false,
			filter_delay:500
		}, {
			column_number : 1,
			filter_type: "text",
			filter_reset_button_text: false,
			filter_delay:500
		},{
			column_number : 2,
			filter_type: "text",
			filter_reset_button_text: false,
			filter_delay:500
		},{
			column_number: 3,
			filter_type: "text",
			filter_reset_button_text: false,
			filter_delay: 500
		},{
			column_number : 4,
			filter_type : "text",
			filter_reset_button_text : false,
			filter_delay : 500
		},{
			column_number : 5,
			select_type : 'select',
			filter_reset_button_text : false,
			select_type_options : {
				width : '150px',
				minimumResultsForSearch : -1
		}
		}
			
		]);
		$('div.dataTables_length select').addClass("formato-2");	
		ver("#dtabla tbody",table);		
	}
	function ver(tbody, table) {
		$(tbody)
				.on("click",
						"button.ver",
						function() {
							if (table.row(this).child.isShown()) {
								var data = table.row(this).data();
							} else {
								var data = table.row($(this).parents("tr"))
										.data();
							}
							var data = table.row($(this).parents("tr")).data();
							document.getElementById("idPlanDesarrollo").value = data.idPlanDesarrollo;
							document.getElementById("nombrePlan").value = data.nombrePlan;
							
							
						})
	}
</script>
<script type="text/javascript"
	th:src="@{/js/src/jquery.dataTables.yadcf.js}"></script>
<script type="text/javascript" th:src="@{/js/nhspdd/home.js}"></script>
<script type="text/javascript" th:src="@{/js/src/bootstrap.min.js}"></script>
</html>