<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>





<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<link th:href="@{/css/ip/select.css}" rel="stylesheet" />

<link th:href="@{/css/modal/select2.css}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>



<div class="modal fade" id="agregarMetasModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg2">
				<div class="row">
					<div class="col-5 col-sm-3 col-md-5 col-lg-5">
						<img id="logo-segPlan" th:src="@{/css/img/icono-seg.png}">
					</div>
					<div class="col-7 col-sm-3 col-md-7 col-lg-7">
						<span class="tituloMeta">Agregar metas</span>
					</div>
				</div>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-container2">
					<form id="form" th:object="${componenteGasto}" method="post"
						th:action="@{agregar-metas}">
						<div class="col-lg-12 col-md-15">
							<div class="form-group">
								<div class="texto">
									<label for="codigo_comp">Compromiso específico:*</label>
								</div>


								<select style="width: 100% !important" class="form-control selection js-example-basic-single" id="idEspecMeta"
									name="idEspecifico">
									<option value=""></option>
									<option th:each="lista: ${compromisoEspecifico}"
										th:if="${compromisoEspecifico != null}"
										th:value="${lista.idEspecifico}"
										th:text="${lista.descripcion}">
									</option>
							
	
								</select>


							</div>
						</div>

						<div class="col-lg-12 col-md-15">
							<div class="form-group">
								<div class="texto">
									<label for="periodo">Meta:*</label>
								</div>
								<input class="form-control" id="idMeta" name="meta"
									maxlength="300">

							</div>
						</div>
						<div class="col-lg-12 col-md-15">
							<div class="form-group">
								<div class="texto">
									<label for="nombre_componente">Tipo de meta:*</label>
								</div>
								<select style="width: 100% !important"  class="form-control js-example-basic-single" id="idTipoMeta" name="idTipoMetaLs">
									<option value="" selected></option>
									<option th:each="meta: ${tipoMeta}" th:if="${tipoMeta != null}"
										th:value="${meta.idArgumento}" th:text="${meta.resultado}"></option>
								</select>

							</div>
						</div>
						<div class="col-lg-12 col-md-15">
							<div class="form-group">
								<div class="texto">
									<label for="periodo">Magnitud:*</label>
								</div>
								<input class="form-control" id="idMagnitud" name="magnitud"
									maxlength="19"
									onkeypress='return event.charCode >= 48 && event.charCode <= 57'>

							</div>
						</div>
						<div class="col-md-12">
							<div class="hr"></div>
						</div>
						<br>
						<div align="right">
							<a href="#" data-dismiss="modal" id="cancelar">Cancelar</a> <span>&nbsp;&nbsp;</span>
							<button type="submit" class="btnAgregarMeta" name="save"
								id="btn-modal">Guardar</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function () {
	$('.js-example-basic-single').select2();
	 $('.btnAgregarMeta').click(function () {
		 var especifico = document.getElementById("idEspecMeta").value;
		 var meta = document.getElementById("idMeta").value;
		 var tipoMeta = document.getElementById("idTipoMeta").value;
		 var magnitud = document.getElementById("idMagnitud").value;
	
		 if (especifico === "" || meta === "" || tipoMeta === "" || magnitud === ""){
			 Swal.fire({
			        title:"¡Advertencia!",
				    text: "Existen campos obligatorios que no se han registrado",
			        icon: "warning",
			        confirmButtonText: 'Aceptar',
			        allowOutsideClick: () => false
		   })
		   
		    return false;
		 }
		 
	 });
	
});
</script>