<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Insert title here</title>
</head>
<body>
	<div class="modal fade" id="agregarEditarInstrumento" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg2">
					<div class="row">
						<div class="col-sm-5">
							<img id="logo-segPlan" src="/Segplan/css/img/icono-seg.png">
						</div>
						<div class="col-sm-7">
							<span class="tituloInstrumento">Agregar/editar instrumento</span>
						</div>
					</div>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-container2">
						<form th:action="@{/agregarEditarPotInstrumento}" th:object="${pot}"
							method="post">
							<input type="hidden" id="idInstrumento" name="idInstrumentoPot">
							<input type="hidden" th:value="${potDTOGet.idPot}" name="idPot">
							<div class="row mt-2">
								<div class="col-sm-12">
									<label class="texto">Código Instrumentos:*</label>
								</div>

							</div>
							<div class="row mt-1">
								<div class="col-sm-12">
									<input type="text" class="form-control" maxlength="10"
										placeholder="Longitud 10" id="codigoInst"
										name="codigoPotInstrumento">
								</div>

							</div>
							<div class="row mt-2">
								<div class="col-sm-12">
									<label class="texto">Nivel del Instrumento:*</label>
								</div>

							</div>
							<div class="row mt-1">
								<div class="col-sm-12">
									<select class="form-control" id="idNiveles"
										name="idLsNivelInst">
										<option value="">Selecione una opción</option>
										<option th:each="lista : ${nivelInstrumento}"
											th:value="${lista.idArgumento}" th:text="${lista.resultado}"></option>
									</select>
								</div>

							</div>
							<div class="row mt-2">
								<div class="col-sm-12">
									<label class="texto">Denominación del Instrumento:*</label>
								</div>

							</div>
							<div class="row mt-1">
								<div class="col-sm-12">
									<select class="form-control" id="denominacion"
										name="idLsDenominacion">
										<option value="">Selecione una opción</option>
									</select>
								</div>

							</div>
							<br>
							<div class="col-md-12">
								<div class="hr"></div>
							</div>
							<div class="float-right mt-3">
								<a href="#" data-dismiss="modal" id="cancelar">Cancelar</a><span>&nbsp;&nbsp;</span>

								<button style="width: auto !important;" type="submit"
									class="btnAgregarPotInstrumento" name="save" id="boton-modal">
									<img src="css/img/icono-guardar.png" class="iconGuardar"
										alt="Icono guadar">Guardar
								</button>
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:inline="javascript">
$(document).ready(function() {
	 $('.btnAgregarPotInstrumento').click(function () {
		 var codigo = document.getElementById("codigoInst").value;
		 var nivel = document.getElementById("idNiveles").value;
		 var deno = document.getElementById("denominacion").value;
		 
		 if (codigo == "" || nivel == "" || deno == ""){
			 Swal.fire({
			        title:"¡Advertencia!",
				    text: "Existen campos obligatorios que no se han registrado",
			        icon: "warning",
			        confirmButtonText: 'Aceptar',
			        allowOutsideClick: () => false
		   })
		    return false; 
		 }
	 });
});	
</script>
</html>