<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="/header :: headFragment">
<meta charset="UTF-8">
<title id="pageTitle">Editar lista simple</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/modal/modal.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/afs/listas.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/filtros/yadcf-editar-ls.css}">
<body>
    <header th:replace="/home:: header"></header>

	<nav aria-label="breadcrumb">
		<ul class="breadcrumb" id="migas">
			<li class="breadcrumb-item"><em class="fa fa-home">&nbsp;&nbsp;|&nbsp;&nbsp;</em><a
				>Administración funcional</a></li>
			<li class="breadcrumb-item">Entidades, tablas, párametros y consecutivos</li>
			<li class="breadcrumb-item" aria-current="page"><a th:href="@{/consultar-ls}">Listas simples</a></li>
			<li class="breadcrumb-item active" aria-current="page" id="act">valor</li>	
		</ul>
	</nav>
	<div class="form-container3">
		<div class="form-group">
			<label for="nombre" class="nombre-ls">Nombre</label> <input
				type="text" class="form-control" id="nombre"
				th:value="${listaSimple.nombre}" disabled> <input
				type="hidden" th:value="${listaSimple.idListaSimple}" id="idLsimple">
		</div>
		<div class="abs-center">
			<span>Argumentos y resultados</span><br>
		</div>
		<div class="hr-1"></div>
		<br>
		<div class="float-left">
			<button type="button" class="boton-agregar-argu"
				th:attr="onclick=|crearArgumento('${listaSimple.idListaSimple}')|">
				<img src="css/img/icono-agregar.png" class="agregar" alt="Icono agregar"> Agregar
			</button>
		</div>
		<br><br><br>
		<div class="table-responsive">
			<table id="dtabla" class="table-striped" style="width:175%">
			<caption><div class="hr-2"></div></caption>
				<thead>
					<tr class="color">
						<th scope="col" style="width:10%" class="color-head">Código<br></th>
						<th scope="col" style="width:10%" class="color-head">Argumento
							<br></th>
						<th scope="col" style="width:55%" class="color-head">Resultado
							<br></th>
						<th scope="col" style="width:10%" class="color-head">Estado<br></th>
						<th scope="col" style="width:10%"><div class="subir">Acción</div></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<br>
		<div class="float-right">
			<a th:href="@{/consultar-ls}"><button type="button"
					class="boton-regresar">
						<img src="css/img/volver-over.png" class="volver" alt="Icono volver">&nbsp;&nbsp;Volver
				</button></a>
		</div>
		<br>
	</div>
	<br>

	<footer th:replace="/home:: footer"></footer>
	<div th:include="afs/listas/modal-argumentos-resultados.html"></div>
	<div th:include="afs/listas/modal-argumentos-resultados-crear.html"></div>
	<div th:include="afs/autenticacion/modal-cambiar-contrasena.html"></div>

</body>
<script th:inline="javascript">
	$(document).ready(function() {
		
        var name = document.getElementById("nombre").value;
        document.getElementById("act").innerHTML = name;
        var tolower = name.toLowerCase(); 
        document.getElementById("exampleModalCenterTitle").innerHTML = "Crear "+tolower+" argumentos y resultados";
        document.getElementById("editarModalCenterTitle").innerHTML = "Editar "+tolower+" argumentos y resultados";
   	   /*<![CDATA[*/
		 var mensajeRes = /*[[${messageRespuesta}]]*/;
		
			
		   if (mensajeRes != null){
		   Swal.fire({
				        title: 'Información',
				        text: mensajeRes,
				        icon: 'warning',
				        confirmButtonText: 'Aceptar',
				        allowOutsideClick: () => false
				    })
				    
	}
		     
		/*]]>*/
		
		
        cargarDatos();

        
        $('.formulario').submit(function(e){
        	
			var variables = $('.required');
			
			var contador = variables.length;
			for (var i = 0; i < variables.length; i++) {
				if($(variables[i]).val()=='' || $(variables[i]).val()==undefined){
					$(variables[i]).addClass('requerido');
					contador = contador-1;
				}else{
					$(variables[i]).removeClass('requerido');
				}
			}
			if(contador!=variables.length){
				e.preventDefault();
				  Swal.fire({
				        title: 'Información',
				        text: "Existen campos obligatorios que no se han registrado",
				        icon: 'warning',
				        confirmButtonText: 'Aceptar',
				        allowOutsideClick: () => false
				    })
			}
			
		});

        $('#dtabla tbody').on('mouseover','tr',function(){
    	    $(this).find('.icon').find('.edit').find('.editar').attr("src","css/img/editar-rollover.png");
    		});
    	    $('#dtabla tbody').on('mouseleave','tr',function(){
    	    $(this).find('.icon').find('.edit').find('.editar').attr("src","css/img/icono-1-azul.png") ;		 	 
    		 });	


	});
	function cargarDatos() {
		'use strict';
		var opts = [ {
			value : 1,
			label : "Activo"
		}, {
			value : 0,
			label : "Inactivo"
		} ];
		var idLs = document.getElementById("idLsimple").value;
		var table = $('#dtabla')
				.DataTable(
						{
							"responsive" : true,
							"colReorder" : true,
							"processing" : true,
							"serverSide" : true,
							"lengthChange" : true,
							"searching" : true,
							"ordering" : true,
							"info" : true,
							"autoWidth" : true,
							"lengthMenu" : [ [ 5, 10, 25, 50, -1 ],
									[ 5, 10, 25, 50, "Mostrar Todo" ] ],
							"pageLength" : 5,
							"language" : {
								"processing" : 'Cargando...',
								"info" : '<div class="formato">_END_ de _TOTAL_ registros</div>',
								"infoEmpty" : '<div class="formato">0 de 0.</div>',
								"infoFiltered" : "(filtrados de un total de _MAX_ registros)",
								"zeroRecords" : "No se han encontrado coincidencias.",
								"paginate" : {
									"first" : '<img src="css/img/icono-flecha-doble-derecha.png" class="flecha-paginador">',
									"last" : '<img src="css/img/icono-flecha-doble-derecha.png" class="flecha-paginador">',
									"next" : '<img src="css/img/icono-flecha-derecha.png" class="flecha-paginador">',
									"previous" : '<img src="css/img/icono-flecha-izquierda.png" class="flecha-paginador">'
								},
								"lengthMenu" : "_MENU_",
							},
							"pagingType" : "full_numbers",
							"dom" : "<'row'<'col-sm-5 col-md-7'>>"
									+ "<'row'<'col-sm-8 col-md-7'tr>>"
									+ "<'row'<'col-sm-8 col-md-7'><'col-sm-2 col-md-1'l><'col-sm-1 col-md-1'i><'col-sm-1 col-md-3'p>>",
							"ajax" : {
								"url" : "/Segplan/listaArgumentosByPage",
								"type" : "POST"
							},
							"order": [0, 'desc'],
							"columns" : [
									{
										data : "idArgumento",  className: 'derechaPresupuesto'
									},
									{
										data : "argumento"
									},
									{
										data : "resultado"
									},
									{
										data : "stringEstado"
									},
									{
										"render" : function() {
											return '<button href="" type="button" id="ButtonEditar" class="edit"><img src="css/img/icono-1-azul.png" class="editar"></button>';
										},  "orderable": false, className:"icon"
									}, ],
							
						})
		yadcf.init(table, [ {
			column_number : 0,
			filter_type : "text",
			filter_reset_button_text : false,
			filter_delay : 500

		}, {
			column_number : 1,
			filter_type : "text",
			filter_reset_button_text : false,
			filter_delay : 500
		}, {
			column_number : 2,
			filter_type : "text",
			filter_reset_button_text : false,
			filter_delay : 500
		}, {
			data : opts,
			column_number : 3,
			select_type : 'select',
			filter_reset_button_text : false,
			select_type_options : {
				width : '150px',
				minimumResultsForSearch : -1
			// remove search box
			}
		}

		]);
		$('div.dataTables_length select').addClass("formato-2");
		editar("#dtabla tbody", table, idLs);
	}
	function editar(tbody, table, idLista) {
		$(tbody).on(
				"click",
				"button.edit",
				function() {
					if (table.row(this).child.isShown()) {
						var data = table.row(this).data();
					} else {
						var data = table.row($(this).parents("tr")).data();
					}
					var data = table.row($(this).parents("tr")).data();
					editarArgumento(data.idArgumento, data.argumento,
							data.resultado, idLista, data.estado)

				})
	}
	function editarArgumento(id, argumento, resultado, idLista, estado) {
		$('#editarArgumentoModal').modal('show');
		$('#idArgumento').text($('#idArgumento').val(id));
		$('#argumento').text($('#argumento').val(argumento));
		$('#resultado').text($('#resultado').val(resultado));
		$('#idListaSimple').text($('#idListaSimple').val(idLista));
		$('#estado').text($('#estado').val(estado));

		if (estado == 1) {
			$("input[type=checkbox]").prop("checked", true);

		} else if (estado == 0) {
			$("input[type=checkbox]").prop("checked", false);
		}
	}
	function crearArgumento(id) {
		 $('.required').removeClass('requerido');
		 document.getElementById("argumentoLs").value = "";
		 document.getElementById("resultadoLs").value = "";
		$('#crearArgumentoModal').modal('show');
		$('#idLista').text($('#idLista').val(id));
		
	}
</script>
<script type="text/javascript"
	th:src="@{/js/src/jquery.dataTables.yadcf.js}"></script>
<script type="text/javascript" th:src="@{/js/nhspdd/home.js}"></script>
<script type="text/javascript" th:src="@{/js/src/bootstrap.min.js}"></script>
</html>