<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Agregar Compromiso estrategico</title>
<script type="text/javascript" th:src="@{/js/src/sweetalert2.js}"></script>
<link th:href="@{/css/modal/select2.css}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<div class="modal fade" id="agregarCeModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg2">
				<div class="row">
					<div class="col-sm-5">
						<img id="logo-segPlan" th:src="@{/css/img/icono-seg.png}" alt="Icono segplan">
					</div>
					<div class="col-sm-5">
						<span class="tituloCe">Crear compromiso estratégico</span>
					</div>
				</div>


				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-container2">
					<form id="form" class="formCompromiso" th:object="${compromisoEstrategico}"
						method="post" th:action="@{crear_compromiso_estrategico}">
						<div class="col-lg-12 col-md-15">
							<div class="form-group">
								<div class="texto">
									<label for="tematica">Temática</label>
								</div>
								<select style="width: 100% !important" class="form-control required js-example-basic-single" id="txtTematica" name="idTematica">
									<option value=""></option>
									<option th:each="tematica: ${tematicas}"
										th:value="${tematica.idArgumento}"
										th:text="${tematica.resultado}"></option>
								</select>
							</div>
						</div>
						<div class="col-lg-12 col-md-15">
							<div class="form-group">
								<div class="texto">
									<label for="nombre_componente">Compromiso Estratégico:</label>
								</div>
								<select style="width: 100% !important" class="form-control required js-example-basic-single" id="txtCompromiso"
									name="idCompromisoEstrategico">
									<option value="" selected></option>
									<option th:each="compromiso : ${compromisos}"
										th:value="${compromiso.idArgumento}"
										th:text="${compromiso.resultado}"></option>
								</select>

							</div>
						</div>

						<div class="col-lg-12 col-md-15">
							<div class="form-group">
								<label for="resultado">Estado:</label><br> <input
									type="checkbox" id="estado" checked="checked"
									disabled="disabled"> <label for="resultado">Activo</label>
							</div>
						</div>
						<div class="col-md-12">
							<div class="hr"></div>
						</div>
						<br>
						<div class="float-right">
							<a href="#" data-dismiss="modal" aria-label="Close" id="cancelar">Cancelar</a><span>&nbsp;&nbsp;</span>
							<button type="submit" class="myFormButton agregarCe" name="save"
								id="boton-modal">
								<img src="css/img/icono-guardar.png" class="guardar" alt="Icono guardar"> Guardar</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<body>
	<script type="text/javascript">
$(document).ready(function() {
	$('.js-example-basic-single').select2({
		  minimumResultsForSearch: Infinity
	});
	$('.formCompromiso').submit(function(e){
		
		var variables = $('.required');
		
		var contador = variables.length;
		for (var i = 0; i < variables.length; i++) {
			if($(variables[i]).val()=='' || $(variables[i]).val()==undefined){
				$(variables[i]).addClass('requerido');
				contador = contador-1;
			}else{
				$(variables[i]).removeClass('requerido');
			}
		}
		if(contador!=variables.length){
			e.preventDefault();
			  Swal.fire({
			        title: 'Información',
			        text: "Existen campos obligatorios que no se han registrado",
			        icon: 'warning',
			        confirmButtonText: 'Aceptar',
			        allowOutsideClick: () => false
			    })
		}
		
	});
});
</script>

</body>
</html>