<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Agregar proyectos-instrumentos</title>
<link th:href="@{/css/modal/select2.css}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>

<div class="modal fade" id="modalPotCrear" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg2">
				<div class="row">
					<div class="col-5 col-sm-3 col-md-5 col-lg-5">
						<img id="logo-segPlan" th:src="@{/css/img/icono-seg.png}" alt="icono segplan">
					</div>
					<div class="col-7 col-sm-3 col-md-7 col-lg-7">
						<span class="tituloPot">Agregar POT Proyectos-Instrumentos</span>
					</div>
				</div>


				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-container2">
					<form id="form" class="formPot" th:object="${proyecto}" method="post"
						th:action="@{crear_pot}">
						<div class="col-lg-12 col-md-15">
							<div class="form-group">
								<div class="texto">
									<label for="periodo">POT Proyecto:*</label>
								</div>
								<select style="width: 100% !important" name="idPotProyecto"
									id="idLsPotProyectoPot" class="form-control js-example-basic-single">
									<option value=""></option>
									<option th:each="potProyectoInstrumento : ${potProyecto}"
										th:value="${potProyectoInstrumento.idObraProyPot}"
										th:text="${potProyectoInstrumento.codigo}"></option>
								</select>

								<div class="texto">
									<label for="periodo">Instrumento:*</label>
								</div>
								<select style="width: 100% !important" name="idPotInstrumento"
									id="idLsInstrumentoPot" class="form-control selectpicker js-example-basic-single">
									<option value=""></option>
									<option th:each="instrumento : ${instrumentos}"
										th:value="${instrumento.idInstrumentoPot}"
										th:text="${instrumento.codigo}"></option>
								</select>
							</div>
						</div>
						<div class="col-lg-12 col-md-15">
							<div class="form-group">
								<div class="texto">
									<label for="resultado">Estado:</label>
								</div>
								<input type="checkbox" id="estado" checked="checked" disabled>
								<label for="resultado">Activo</label>
							</div>
						</div>
						<div class="col-md-12">
							<div class="hr"></div>
						</div>
						<br>
						<div class="float-right">
							<a href="#" data-dismiss="modal" id="cancelar">Cancelar</a><span>&nbsp;&nbsp;</span>
							<button type="submit" class="myFormButton" name="save" id="boton-modal">
							 <img src="css/img/icono-guardar.png" class="guardar" alt="icono guardar">
								Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
 <script type="text/javascript">
	$(document).ready(function() {
		$('.js-example-basic-single').select2({
			  minimumResultsForSearch: Infinity
		});
		 $('.formPot').submit(function(e){
	        	
				var variables = $('.selectpicker');
				
				var contador = variables.length;
				for (var i = 0; i < variables.length; i++) {
					if($(variables[i]).val()=='' || $(variables[i]).val()==undefined){
						$(variables[i]).addClass('requerido');
						contador = contador-1;
					}else{
						$(variables[i]).removeClass('requerido');
					}
				}
				if(contador!=variables.length){
					e.preventDefault();
					  Swal.fire({
					        title: 'Información',
					        text: "Existen campos obligatorios que no se han registrado",
					        icon: 'warning',
					        confirmButtonText: 'Aceptar',
					        allowOutsideClick: () => false
					    })
				}
				
			});
	})
   </script> 

</html>