<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

 <div class="table-responsive">
			<table id="dtablaPresupuesto" class="table-striped"  style="width:420%">
				<caption><div class="hr-2"></div></caption>
				<thead>
					<tr class="color">
						<th scope="col" style="width:5%" class="color-head">Año<br></th>
						<th scope="col"  style="width:5%" class="color-head">Mes<br></th>
						<th scope="col"  style="width:25%" class="color-head">Clasificacion presupuestal<br></th>
						<th scope="col"  class="color-head">Código proyecto<br></th>
						<th scope="col" class="color-head">Código interno<br></th>
						<th scope="col" style="width:30%" class="color-head">Nombre proyecto<br></th>
						<th scope="col" class="color-head">Apropiacion definitiva<br></th>
						<th scope="col" style="width:15%" class="color-head">Ejecucion vigencia (compromisos)<br></th>
						<th scope="col" class="color-head">Giros vigencia<br></th>
						<th scope="col" class="color-head">Recursos suspendidos<br></th>
						<th scope="col" class="color-head">Constitución reservas(CxP)<br></th>
						<th scope="col" class="color-head">Apropiación reservas(CxP)<br></th>
						<th scope="col" class="color-head">Ejecución giros reservas(CxP)<br></th>
						<th scope="col"  style="width:10%"><div class="subir">Acción</div></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				<tfoot>
							<tr class="total">
								<td colspan="6"><div class="total_2">TOTALES</div></td>
     							<td id="contaAsigna">Total</td>
     							<td id="contaAsigna">Total</td>
     							<td id="contaAsigna">Total</td>
     							<td id="contaAsigna">Total</td>
     							<td id="contaAsigna">Total</td>
     							<td id="contaAsigna">Total</td>
     							<td id="contaAsigna">Total</td>
								<td></td>
							</tr>
						</tfoot>
			</table>
			</div>

</body>
</html>