@font-face {
	font-family: "Apex new medium";
	src: url(../font/ufonts.com_apexnew-medium-opentype.otf);
}

@font-face {
	font-family: "Apex new bold italic1";
	src: url(../font/Apex-New-Bold-Italic.otf);
}

.form-containerIp {
	margin-top: -10px;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #0000005C;
	border-radius: 15px;
	opacity: 1;
}

.form-container2 {
	margin-top: -2px;
	padding-top: 5px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 15px;
	opacity: 1;
}

.arbol {
	height: 900px;
	border-radius: 0px 0px 0px 14px;
	background: #F2F2F2;
	overflow-y: scroll;
	margin-left: -24px;
}

.boton {
	background-color: #76A4CC;
	border-radius: 5px;
	width: 150px;
	height: 35px;
	font-family: Apex new medium;
	border: 2px solid #76A4CC;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 12px;
	color: #fff;
}

.titulo {
	font-family: Apex new bold;
	font-size: 12px;
	letter-spacing: 0;
	margin-left: -20px;
	color: #00529C;
}

.compromiso {
	display: none;
}
.btnEditarEspecifico{
	background-color: transparent !important;
	border: 2px solid transparent !important;
}
.btnEliminarEspecifico {
	background-color: transparent !important;
	border: 2px solid transparent !important;
}
.btnEditarMeta{
	background-color: transparent !important;
	border: 2px solid transparent !important;
}
.btnEliminarMeta {
	background-color: transparent !important;
	border: 2px solid transparent !important;
}
.btnEditarObra{
	background-color: transparent !important;
	border: 2px solid transparent !important;
}
.btnEliminarObra {
	background-color: transparent !important;
	border: 2px solid transparent !important;
}
.texto-plano {
	text-align: left;
	font-family: Apex new bold;
	font-size: 11px;
	letter-spacing: 0;
	color: #1D1D1D;
	opacity: 1;
}

.boton-filtro {
	background-color: #76A4CC;
	border-radius: 5px;
	font-size: 12px;
	color: #fff;
	font-family: Apex new medium;
	border: 2px solid #76A4CC;
	width: 90px;
	height: 35px;
	margin-top: 20px;
	margin-left: 250px;
}

.edit-com {
	width: 18px;
	margin-left: 10px;
}

.eliminar-com {
	width: 18px;
}

#icon {
	width: 10px;
	margin-top: 0px;
}

.form {
	height: 70%;
}

.texto-ip {
	padding-top: 10px;
	font-family: Apex new medium;
	letter-spacing: 0;
	color: #797979;
	opacity: 1;
}

ul, li {
	list-style: none;
}

.nav>li {
	float: left;
	padding: 0px 10px;
}

.nav li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}

.nav li:hover>ul {
	display: block !important;
}

#programaGobierno {
	border-color: #4170D9;
	border-radius: 9px;
}

#tematicaEspe {
	border-color: #4170D9;
	border-radius: 9px;
}

#compromiso {
	border-color: #4170D9;
	border-radius: 9px;
}

#metaNombre {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #00529C;
	box-shadow: 0px 3px 6px #00000040;
	border-radius: 10px;
}

#magnitud {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #00529C;
	box-shadow: 0px 3px 6px #00000040;
	border-radius: 10px;
}

#obra {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #00529C;
	box-shadow: 0px 3px 6px #00000040;
	border-radius: 10px;
}