<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:include="/header :: headFragment">
        <meta charset="UTF-8">
        <title id="pageTitle">Cargar archivos planos</title>

    </head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/afs/archivo-plano.css}">
    <body>

        <header th:replace="/home:: header"></header>

       <nav aria-label="breadcrumb">
		<ul class="breadcrumb" id="migas">
			<li class="breadcrumb-item"><em class="fa fa-home">&nbsp;&nbsp;|&nbsp;&nbsp;</em><a
				>Administración funcional</a></li>
			<li class="breadcrumb-item">Cargue y gestión de información</li>		
			<li class="breadcrumb-item" aria-current="page"><a th:href="@{/consultar-archivos}">Carga de archivos planos</a></li>
			<li class="breadcrumb-item active" aria-current="page" id="act">Consulta de archivos planos</li>
		</ul>
	</nav>
        
        <div class="form-container3">
            <div class="abs-center">
                <span>Consulta de archivo plano</span><br>
            </div>
            <div class="hr-1"></div>
            <br>


            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <div class="texto-archivo-plano">
                        <label for="codigo_comp">Modulo:</label>
                    </div>
                    <input class="form-control" id="modulo" type="text" 
                    th:value="${archivoDTO.nombreModulo}" disabled="disabled">

                </div>
            </div>

            <div class="col-lg-12 col-md-15">
                <div class="form-group">
                    <div class="texto-archivo-plano">
                        <label for="codigo_comp">Tema:</label>
                    </div>
                    <input class="form-control" id="tema" type="text" 
                    th:value="${archivoDTO.nombreTema}" disabled="disabled">

                </div>
            </div>
            <br>
            <div  class="table-responsive">
			<div th:include="afs/archivos-planos/tabla-presupuesto-consulta.html"></div>
	    	</div>
            <br>
            <div align="right">
			<a th:href="@{/consultar-archivos}"><button type="button"
					class="boton-regresar"><img src="css/img/volver-over.png" class="volver" alt="Icono para regresar">&nbsp;&nbsp;Volver</button></a>
		</div>

        </div><br><br>
        <footer th:replace="/home:: footer"></footer>

    </body>
  
    <script type="text/javascript" th:src="@{/js/nhspdd/home.js}"></script>
    <script type="text/javascript" th:src="@{/js/src/bootstrap.min.js}"></script>
</html>