<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<link th:href="@{/css/ip/select.css}" rel="stylesheet" />
<link th:href="@{/css/modal/select2.css}" rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<div class="modal fade" id="editarIndicadorModal" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">

	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg2">
				<div class="row">
					<div class="col-5 col-sm-3 col-md-5 col-lg-5">
						<img id="logo-segPlan" th:src="@{/css/img/icono-seg.png}">
					</div>
					<div class="col-7 col-sm-3 col-md-7 col-lg-7">
						<span class="tituloPot">Editar indicador problemática</span>
					</div>
				</div>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-container2">
					<form id="formEditarIndicadorProblematica" method="post">
						<input type="hidden" id="idAuxProbleIndEdit" name="idProbInd">
						<input type="hidden" id="idAuxProblematicaEdit"
							name="idProblematica">
						<div class="col-lg-12 col-md-15">
							<div class="form-group">
								<div class="texto">
									<label for="codigo_comp">Seleccionar Indicador:*</label>
								</div>
								<select style="width: 100% !important" name="idIndicador"
									id="idIndicadorEdit" class="form-control">
									<option value="">Selecciona una opción</option>
									<option th:each="lista: ${listaIndicadorProblematica}"
										th:value="${lista.idIndicador}"
										th:text="${lista.nombreIndicador}">
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="hr"></div>
						</div>
						<br>
						<div class="float-right">
							<a href="#" data-dismiss="modal" id="cancelar">Cancelar</a> <span>&nbsp;&nbsp;</span>
							<button type="submit" class="btnAgregarMeta" name="save"
								id="btn-modal">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('.js-example-basic-single').select2({
			minimumResultsForSearch : Infinity
		})

	});
</script>