<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Insert title here</title>
</head>
<body>
	<div class="modal fade" id="editarIndicadorMetaProducto" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg2">
					<div class="row">
						<div class="col-sm-5">
							<img id="logo-segPlan" src="/Segplan/css/img/icono-seg.png">
						</div>
						<div class="col-sm-7">
							<span class="titulo" style="font-size: 16px">Editar
								indicadores de la meta producto</span>
						</div>
					</div>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-container2">
						<form id="formEditarIndicadorMetaProducto" th:object="${indicador}" method="post">
							<input type="hidden" id="auxIDproductoIndicadorEdit"
								name="idMetaProducto">
							<input type="hidden" id="idIndicadorProEditVerdadero" name="idIndicador">
							<div class="row mt-2">
								<div class="col-sm-12">
									<div class="texto">
										<label>ID Indicador</label>
									</div>
								</div>
							</div>
							<div class="row mt-1">
								<div class="col-sm-12">
									<input type="text" class="form-control" readonly="readonly"
										id="idIndicadorProEdit">
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-sm-12">
									<div class="texto">
										<label>Nombre del Indicador:</label>
									</div>
								</div>
							</div>

							<div class="row mt-1">
								<div class="col-sm-12">
									<input type="text" class="form-control"
										id="nombreIndicadorProdEdit"  name="nombre">
								</div>
							</div>

							<div class="row mt-2">
								<div class="col-sm-6">
									<div class="texto">
										<label>Magnitud</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="texto">
										<label>Periodicidad</label>
									</div>
								</div>
							</div>
							<div class="row mt-1">
								<div class="col-sm-6">
									<input type="text" class="form-control"
										id="idMagnitudIndicadorEdit" name="magnitud">
								</div>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="periodicidad"
										id="idPeriodicidadIndicadorEdit" >
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-sm-6">
									<div class="texto">
										<label>Estado</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="texto">
										<label>Tipo de agregación</label>
									</div>
								</div>
							</div>
							<div class="row mt-1">
								<div class="col-sm-6">
									<select class="form-control" id="idEstadoIndicadorEdit"
										name="idLsEstado">
										<option>Seleccione una opción</option>
										<option th:each="lista : ${estadoIndicador}"
											th:value="${lista.idArgumento}" th:text="${lista.resultado}" />
									</select>
								</div>
								<div class="col-sm-6">
									<select class="form-control" id="idAgregacionEdit"
										name="idLsAgregacion">
										<option value="">Seleccione una opción</option>
										<option th:each="lista : ${agregacion}"
											th:value="${lista.idArgumento}" th:text="${lista.resultado}" />
									</select>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-sm-12">
									<div class="texto">
										<label>Fuente externa:</label>
									</div>
								</div>
							</div>

							<div class="row mt-1">
								<div class="col-sm-12">
									<select class="form-control" id="idFuenteExternaEdit"
										name="fuenteExterna">
										<option value="">Selecciona una opción</option>
										<option value="1">Si</option>
										<option value="0">No</option>
									</select>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-sm-12">
									<div class="texto">
										<label>Fuente </label>
									</div>
								</div>
							</div>

							<div class="row mt-1">
								<div class="col-sm-12">
									<input type="text" class="form-control" 
										id="idFuenteIndicadorEdit" name="fuente">
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-sm-6">
									<div class="texto">
										<label>Línea base</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="texto">
										<label>Magnitud línea base</label>
									</div>
								</div>
							</div>
							<div class="row mt-1">
								<div class="col-sm-6">
									<select class="form-control" id="idMagnitudLineaBaseIndicadorEdit"
									name="lineaBase">
										<option value="">Seleccione una opción</option>
										<option value="1">Si</option>
										<option value="0">No</option>
									</select> 
									
								</div>
								<div class="col-sm-6">
									<input type="text" class="form-control"
										id="idLineaBaseIndicadorEdit" 
										name="magnitudLb">
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-sm-12">
									<div class="texto">
										<label>Descripción Línea Base </label>
									</div>
								</div>
							</div>

							<div class="row mt-1">
								<div class="col-sm-12">
									<textarea rows="3" cols="3" class="form-control"
										id="idDescripcionIndicadorEdit" 
										name="lineaBaseDesc"></textarea>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-sm-12">
									<div class="texto">
										<label>Ponderación</label>
									</div>
								</div>
							</div>

							<div class="row mt-1">
								<div class="col-sm-12">
									<input type="text" class="form-control" name="ponderacion"
										id="idPonderacionIndicadorEdit" >
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-sm-12">
									<div class="texto">
										<label>¿Es Indicador PDD?: </label>
									</div>
								</div>
							</div>

							<div class="row mt-1">
								<div class="col-sm-12">
									<input type="text" class="form-control" readonly="readonly"
										value="No" id="idIndicadorPdd"> <input type="hidden"
										value="0" name="esPdd">
								</div>
							</div>
							<br>
							<div class="col-md-12">
								<div class="hr"></div>
							</div>
							<br>
							<div class="float-right">
								<a href="#" data-dismiss="modal" id="cancelar">Cancelar</a><span>&nbsp;&nbsp;</span>
								<button class="" name="btnAgregarNivel1" type="submit"
									id="boton-modal">
									<img src="css/img/icono-guardar.png" class="guardar"
										alt="Icono guardar">&nbsp;&nbsp;Guardar
								</button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:inline="javascript">
$(document).ready(function() {
	
});

</script>
</html>