<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="/header :: headFragment">
<meta charset="UTF-8">
<title id="pageTitle">Consultar PDD</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/afs/listas.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/filtros/yadcf-consultar-pg.css}">
<body>
	<header th:replace="/home:: header"></header>
	<nav aria-label="breadcrumb">
		<ul class="breadcrumb" id="migas">
			<li class="breadcrumb-item"><em class="fa fa-home">&nbsp;&nbsp;|&nbsp;&nbsp;</em>Instrumentos de planeación</li>
			<li class="breadcrumb-item"  aria-current="page">Estructura plan de desarrollo</li>
			<li class="breadcrumb-item active" aria-current="page" id="act">Estructura plan de desarrollo</li>
			
		</ul>
	</nav>
	<div class="form-container3">

		<div class="abs-center">
			<span>Plan de desarrollo</span><br>
		</div>
		<div class="hr-1"></div>
		<br>
		<div class="float-left">
				<button type="button" class="boton-agregar" id="btnAgregarPdd" onclick="agregarPd()">
					<img src="css/img/icono-agregar.png" class="agregar"
						alt="Icono agregar">Agregar
				</button>
		</div>
		<input type="hidden" id="idAuxiliarPdd">
		<br>
		<br>
		<div class="table-responsive mt-3">
			<form id="peticionVer" th:action="@{/obtener-niveles}"
				th:object="${pddDTO}" method="POST">
				<input type="hidden" id="idPlanDesarrollo2" name="idPlanDesarrollo">
				<input type="hidden" id="nombrePlan2" name="nombrePlan">
				<input type="hidden" id="nivelNumero" name="stringNiveles">
				<input type="hidden" id="estadoPlan" name="estadoPlan">
			</form>
			<form id="peticionEditarPdd" method="post" th:action="@{/modificar-pdd-post}"
				th:object="${pddDTO}">
				<input type="hidden" id="idPlanDesarrollo" name="idPlanDesarrollo">
				<input type="hidden" id="nombrePlan" name="nombrePlan">
				<input type="hidden" id="sigla" name="siglaPlan">
				<input type="hidden" id="adoptado" name="idLsAdoptado">
				<input type="hidden" id="acto"  name="actoAdministrativo">
				<input type="hidden" id="fecha" name="fechaActo">
				<input type="hidden" id="inicio" name="yearInicio">
				<input type="hidden" id="final" name="yearFinal">
				<input type="hidden" id="niveles" name="idLsNiveles">
				<input type="hidden" id="estado" name="idLsEstadoPlan">
				<input type="hidden" id="alcalde" name="nombreAlcalde">
				<input type="hidden" id="correo" name="correoAlcalde">
				<input type="hidden" id="programa" name="programaGobierno">
				<input type="hidden" id="avance" name="idLsAvanceSgr">
			</form>
			<form id="peticionComponentes" method="POST"
				th:action="@{/obtener-componentes-pdd}" th:object="${pddDTO}">
				<input type="hidden" id="idPlanDesarrollo3" name="idPlanDesarrollo">
				<input type="hidden" id="nombrePlan3" name="nombrePlan">
				<input type="hidden" id="numNiveles" name="stringNiveles">
			</form>
			<form id="peticionBalanceo" method="POST"
				th:action="@{/obtener-balanceo-pdd}" th:object="${pddDTO}">
				<input type="hidden" id="idPlanDesarrollo4" name="idPlanDesarrollo">
				<input type="hidden" id="nombrePlan4" name="nombrePlan">
			</form>
			<form id="peticionMedicion" method="POST"
				th:action="@{/obtener-medicion-pdd}" th:object="${pddDTO}">
				<input type="hidden" id="idPlanDesarrollo5" name="idPlanDesarrollo">
				<input type="hidden" id="nombrePlan5" name="nombrePlan">
			</form>
			<table id="dtabla" class="table-striped" style="width: 250%">
			<caption><div class="hr-2"></div></caption>
				<thead>
					<tr class="color">
						<th style="width: 10%" class="color-head">Plan de Desarrollo
							<br>
						</th>
						<th style="width: 15%" class="color-head">Alcalde <br></th>
						<th style="width: 15%" class="color-head">Vigencia <br></th>
						<th style="width: 15%" class="color-head">Año Inicio <br></th>
						<th style="width: 10%" class="color-head">Año Final <br></th>
						<th style="width: 10%" class="color-head">Estado <br></th>
						<th style="width: 7%" class="color-head pdd1">Acción</th>
						<th style="width: 7%" class="subir pdd1"></th>
						<th style="width: 9%" class="subir pdd2">Componentes/Niveles</th>
						<th style="width: 7%" class="subir pdd2">Balanceo</th>
						<th style="width: 7%" class="subir pdd2">Rangos de Medición</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>


		</div>
	</div>
	<br>
	<br>
	<div th:include="afs/autenticacion/modal-cambiar-contrasena.html"></div>
	<footer th:replace="/home:: footer"></footer>
</body>
<script th:inline="javascript">
$(document).ready(function() {
	/*<![CDATA[*/
    var tipoPDD = /*[[${tipoPdd}]]*/;
    
    $("#btnAgregarPdd").css('visibility', 'hidden');

    if (tipoPDD === "1" || tipoPDD === "3"){
    $("#btnAgregarPdd").css('visibility','visible');	
    }
    if (tipoPDD == "2"){
    	document.getElementById("act").innerHTML = "Componentes de la Estructura PDD";
    }
    /*]]>*/
	cargarDatos(tipoPDD);
	$('#dtabla tbody').on('mouseover','tr',function(){
	    $(this).find('.icon').find('.ver').find('.editar').attr("src","css/img/editar-rollover.png");
	});
	$('#dtabla tbody').on('mouseleave','tr',function(){
	    $(this).find('.icon').find('.ver').find('.editar').attr("src","css/img/icono-1-azul.png") ;		 	 
    });

	
 });
function agregarPd(){
    	var idPdd = document.getElementById("idAuxiliarPdd").value;
		window.location = "agregar-pdd/"+idPdd;  
}
function cargarDatos(tipoPDD) {
	   'use strict';
		var table = $('#dtabla')
		.DataTable({
			"initComplete": function(settings, json) {
				 var ultimoRegistro = json.numConsecutivo;
			     document.getElementById("idAuxiliarPdd").value = ultimoRegistro;
			     
            },
			"colReorder":true,
			"processing":true,
			"serverSide":true,
			"lengthChange":true,
			"searching": true,
			"ordering":true,
			"info":true,
			"autoWidth":true,
			"lengthMenu":[ [ 5, 10, 25, 50, -1 ],
				[ 5, 10, 25, 50, "Mostrar Todo" ] ],
			"pageLength":5,
			"language":{
				"processing" : 'Cargando...',
				"info" : '<div class="formato">_END_ de _TOTAL_ registros</div>',
				"infoEmpty" : '<div class="formato">0 de 0.</div>',
				"infoFiltered" : "(filtrados de un total de _MAX_ registros)",
				"zeroRecords" : "No se han encontrado coincidencias.",
				"responsive" : true,
				"paginate" : {
					"first" : '<img src="css/img/icono-flecha-doble-izquierda.png" class="flecha-paginador">',
					"last" : '<img src="css/img/icono-flecha-doble-derecha.png" class="flecha-paginador">',
					"next" : '<img src="css/img/icono-flecha-derecha.png" class="flecha-paginador">',
					"previous" : '<img src="css/img/icono-flecha-izquierda.png" class="flecha-paginador">'
				},
				"lengthMenu" : "_MENU_",
			},
			"pagingType": "full_numbers",
			"dom" :"<'row'<'col-sm-5 col-md-7'>>"
				+ "<'row'<'col-sm-8 col-md-7'tr>>"
				+ "<'row'<'col-sm-8 col-md-7'><'col-sm-2 col-md-1'l><'col-sm-1 col-md-1'i><'col-sm-1 col-md-3'p>>",
			"order":[0,'desc'],
			"ajax": {
				"url": "/Segplan/listaProgramaEstructuraByPage",
				"type": "POST"
			},
			"columns" : [
				{
					data: "nombrePlan"
				},
				{
					data: "nombreAlcalde"
				},
				{
					data: "vigencia"
				},
				{
					data: "yearInicio"
				},
				{
					data: "yearFinal"
				},
				{
					data: "estadoPlan"
				},
				{
					"render": function () {
						return '<button type="button" id="btnEditarPdd" class="ver"><img src="css/img/icono-1-azul.png" class="editar"></button>';
					},"orderable": false, className:"icon"	
				},
				
				{
					"render": function () {
						return '<button type="button" id="btnNiveles" class="ver"><span class="hidden-xs">Ver</span></button>';
					},"orderable": false
				},
				{
					"render": function () {
						return '<button type="button" id="btnVerNiveles" class="ver"><span class="hidden-xs">Ver</span></button>';
					},"orderable": false
				},
				{
					"render": function () {
						return '<button type="button" id="ButtonBalanceo" class="balanceo ver niveles pdd2"><span class="hidden-xs">Ver</span></button>';
					},"orderable": false
				},
				{
					"render": function () {
						return '<button type="button" id="ButtonMedicion" class="medicion ver niveles pdd2"><span class="hidden-xs">ver</span></button>';
					},"orderable": false
				}
			],
			})
		yadcf.init(table, [{
			column_number : 0,
			filter_type: "text",
			filter_reset_button_text:false,
			filter_delay:500
		}, {
			column_number : 1,
			filter_type: "text",
			filter_reset_button_text: false,
			filter_delay:500
		},{
			column_number : 2,
			filter_type: "text",
			filter_reset_button_text: false,
			filter_delay:500
		},{
			column_number: 3,
			filter_type: "text",
			filter_reset_button_text: false,
			filter_delay: 500
		},{
			column_number : 4,
			filter_type : "text",
			filter_reset_button_text : false,
			filter_delay : 500
		},{
			column_number : 5,
			select_type : 'select',
			filter_reset_button_text : false,
			select_type_options : {
				width : '150px',
				minimumResultsForSearch : -1
		}
		}
			
		]);
		if(tipoPDD === "1"){
			table.column(8).visible(false);
			table.column(9).visible(false);
			table.column(10).visible(false);
			
		}
		if(tipoPDD === "2"){
			table.column(6).visible(false);
			table.column(7).visible(false);
		}
		$('div.dataTables_length select').addClass("formato-2");	
		editar('#dtabla tbody', table); 	   
		verNivel('#dtabla tbody', table);
	    verComponentes('#dtabla tbody', table);
	    verBalanceo('#dtabla tbody', table);
	    verMedicion('#dtabla tbody', table);
	}
	
   function editar(tbody, table) {
	$(tbody)
			.on("click",
					"button#btnEditarPdd",
					function() {
						if (table.row(this).child.isShown()) {
							var data = table.row(this).data();
						} else {
							var data = table.row($(this).parents("tr"))
									.data();
						}
						var data = table.row($(this).parents("tr")).data();
						console.log(data);
						document.getElementById("idPlanDesarrollo").value = data.idPlanDesarrollo;
						document.getElementById("nombrePlan").value = data.nombrePlan;
						document.getElementById("sigla").value = data.siglaPlan;
						document.getElementById("adoptado").value = data.idLsAdoptado;
						document.getElementById("acto").value = data.actoAdministrativo;
						document.getElementById("fecha").value =data.fechaActo;
						document.getElementById("inicio").value = data.yearInicio;
						document.getElementById("final").value = data.yearFinal;
						document.getElementById("niveles").value = data.idLsNiveles;
						document.getElementById("estado").value = data.idLsEstadoPlan;
						document.getElementById("alcalde").value = data.nombreAlcalde;
						document.getElementById("correo").value = data.correoAlcalde;
						document.getElementById("programa").value = data.programaGobierno;
						document.getElementById("avance").value = data.idLsAvanceSgr; 
						
						$('#peticionEditarPdd').submit();
						
					})
}
	
        function verNivel(tbody, table) {
	$(tbody)
			.on("click",
					"button#btnNiveles",
					function() {
						if (table.row(this).child.isShown()) {
							var data = table.row(this).data();
						} else {
							var data = table.row($(this).parents("tr"))
									.data();
						}
						var data = table.row($(this).parents("tr")).data();
						document.getElementById("idPlanDesarrollo2").value = data.idPlanDesarrollo;
						document.getElementById("nombrePlan2").value = data.nombrePlan;
						document.getElementById("nivelNumero").value = data.stringNiveles;
						document.getElementById("estadoPlan").value = data.estadoPlan;
						$('#peticionVer').submit();
						
						
					})
}
        function verComponentes(tbody, table) {
    		$(tbody)
    				.on("click",
    						"button#btnVerNiveles",
    						function() {
    							if (table.row(this).child.isShown()) {
    								var data = table.row(this).data();
    							} else {
    								var data = table.row($(this).parents("tr"))
    										.data();
    							}
    							var data = table.row($(this).parents("tr")).data();
    							console.log(data);
    							document.getElementById("idPlanDesarrollo3").value = data.idPlanDesarrollo;
    							document.getElementById("nombrePlan3").value = data.nombrePlan;
    							document.getElementById("numNiveles").value = data.stringNiveles;
    							$('#peticionComponentes').submit();
    							
    						})
    	}
        function verBalanceo(tbody, table) {
    		$(tbody)
    				.on("click",
    						"button#ButtonBalanceo",
    						function() {
    							if (table.row(this).child.isShown()) {
    								var data = table.row(this).data();
    							} else {
    								var data = table.row($(this).parents("tr"))
    										.data();
    							}
    							var data = table.row($(this).parents("tr")).data();
    							console.log(data);
    							document.getElementById("idPlanDesarrollo4").value = data.idPlanDesarrollo;
    							document.getElementById("nombrePlan4").value = data.nombrePlan;
    							$('#peticionBalanceo').submit();
    							
    						})
    	}
        function verMedicion(tbody, table) {
    		$(tbody)
    				.on("click",
    						"button#ButtonMedicion",
    						function() {
    							if (table.row(this).child.isShown()) {
    								var data = table.row(this).data();
    							} else {
    								var data = table.row($(this).parents("tr"))
    										.data();
    							}
    							var data = table.row($(this).parents("tr")).data();
    							console.log(data);
    							document.getElementById("idPlanDesarrollo5").value = data.idPlanDesarrollo;
    							document.getElementById("nombrePlan5").value = data.nombrePlan;
    							$('#peticionMedicion').submit();
    							
    						})
    	}
</script>
<script type="text/javascript"
	th:src="@{/js/src/jquery.dataTables.yadcf.js}"></script>
<script type="text/javascript" th:src="@{/js/nhspdd/home.js}"></script>
<script type="text/javascript" th:src="@{/js/src/bootstrap.min.js}"></script>
</html>