<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Insert title here</title>
<link th:href="@{/css/modal/select2.css}" rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>
<body>

	<div class="abs-center mt-2 " style="font-size: 20px">
		<span><b>Diagnóstico Ejecutivo</b></span><br>

	</div>
	<div class="row mt-2">
		<div class="col-sm-12 titulo-sintesis">
			<div class="color-head">
				<span>Sintesis/Definición del Problema</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 body-sintesis">
			<span class="title-sintesis">Problemática Identificada</span><br>
			<span class="sub-sintesis">Lorem ipsum dolor sit amet,
				consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
				labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
				exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</span><br>
			<br> <span class="title-sintesis">Reconocimiento de la
				Problemática</span> <span class="sub-sintesis">Lorem ipsum dolor sit
				amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
				nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat</span><br>
			<br> <span class="title-sintesis">Valoración de la
				Problemática</span><br> <span class="sub-sintesis">Lorem ipsum
				dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
				ea commodo consequat</span>
		</div>
	</div>
	<div class="abs-center mt-2 mb-3" style="font-size: 20px">
		<span><b>Indicadores de Problemática</b></span><br>

	</div>
	<div class="table-responsive mt-3">
		<table id="dtablaObras" class="table-striped" style="width: 120%">
			<thead>
				<tr class="color">
					<th style="width: 5%" class="color-head">Id indicador<br></th>

					<th style="width: 5%" class="color-head">Nombre Indicador</th>
					<th style="width: 5%" class="color-head">Origen Indicador</th>
					<th style="width: 5%" class="color-head">Línea Base</th>
					<th style="width: 5%" class="color-head">Fuente</th>
					<th style="width: 5%" class="color-head">Año Línea Base</th>
				
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</body>
</html>