<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment">
<title th:include=":: #pageTitle">Template Title</title>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/afs/home.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/afs/cambiar-contrasenia.css}">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/jquery.dataTables.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap/sweetalert2.css}">
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script
	src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" th:src="@{/js/src/sweetalert2.js}"></script>
<script src="js/src/stomp.js"></script>
<script src="js/src/menu.js"></script>
<script src="js/src/sockjs-0.3.4.js"></script>
<script type="text/javascript" th:src="@{/js/src/myjs.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</head>
</html>